{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Amore Gastronomia</title>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'website/images/restaurant/favicon.png' %}"/>

    <meta name="description" content="Amore Gastronomia">
    <meta name="keywords" content="Amore, Gastronomia, Amore Gastronomia">
    
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:200,300,400, 600, 700" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'website/css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'website/fonts/ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'website/fonts/fontawesome/css/font-awesome.min.css' %}">
    
    
    <link rel="stylesheet" href="{% static 'website/css/slick.css' %}">

    <link rel="stylesheet" href="{% static 'website/css/helpers.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/restaurant.css' %}">
  </head>
  <body data-spy="scroll" data-target="#pb-navbar" data-offset="200">
    

    <div class="probootstrap-loader"></div>
    <!-- END loader -->

    <nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light" id="pb-navbar">
      <div class="container">
        <a class="navbar-brand d-xl-none d-lg-none d-md-block d-sm-block" href="/">
          <img src="{% static 'website/images/restaurant/logo_amore_sm.png' %}" alt="Instant Logo" class="light">
          <img src="{% static 'website/images/restaurant/logo_amore_sm.png' %}" alt="Instant Logo" class="dark">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="ion-navicon"></i></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-center" id="probootstrap-navbar">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link text-uppercase pb_letter-spacing-2" href="#section-home">Home</a></li>
            <li class="nav-item"><a class="nav-link text-uppercase pb_letter-spacing-2" href="#section-about">Sobre</a></li>
            <li class="nav-item"><a class="nav-link text-uppercase pb_letter-spacing-2" href="#section-menu">Cardápio</a></li>
            <li class="nav-item logo-center d-xl-block d-lg-block d-md-none d-sm-none d-none">
              <a class="nav-link text-uppercase pb_letter-spacing-2" href="{% url 'index' %}">
                <img src="{% static 'website/images/restaurant/logo_amore_sm.png' %}" alt="Instant Logo" class="light">
                <img src="{% static 'website/images/restaurant/logo_amore_sm.png' %}" alt="Instant Logo" class="dark">
              </a>
            </li>
            <li class="nav-item"><a class="nav-link text-uppercase pb_letter-spacing-2" href="#section-gallery">Fotos</a></li>
            <li class="nav-item"><a class="nav-link text-uppercase pb_letter-spacing-2" href="https://www.amoregastronomia.com/">Loja</a></li>
            <li class="nav-item"><a class="nav-link text-uppercase pb_letter-spacing-2" href="#section-contact">Contato</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->

    <section class="pb_cover_v1 cover-bg-black cover-bg-opacity-4 text-center" style="background-image: url({% static 'website/images/restaurant/1900x1200/temperos2.jpg' %})" id="section-home">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-9  order-md-1">
            <h2 class="heading mb-3">Amore Gastronomia</h2>
            <div class="sub-heading"><p class="mb-5">Receitas italianas preparadas com amor e ingredientes de qualidade no sul do Brasil</p></div>
            <p><a href="#section-contact" role="button" class="btn smoothscroll pb_outline-light rounded-0 btn-xl pb_font-13 pb_letter-spacing-2 p-3">Faça um pedido</a></p>
          </div>  
        </div>
      </div>
    </section>
    <!-- END section -->
    
    <section class="pb_section" id="section-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-5">
            <div class="row">
              <div class="col">
                <p><img src="{% static 'website/images/restaurant/800x975/eliza.jpg' %}" alt="Instant Image" class="img-fluid"></p>
              </div>
              <div class="col">
                <p><img src="{% static 'website/images/restaurant/800x975/hmm_paozinho_com_pesto.jpg' %}" alt="Instant Image" class="img-fluid"></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 pl-lg-5 pl-lg-0">
            <h2 class="mb-4 text-uppercase pb_letter-spacing-2">Conheça a Amore e a Eliza</h2>
            <p>A Eliza muito querida faz comidinhas que são uma delícia, se eu pudesse só comeria Amore, pãozinho australiano no café da manhã, pizza no almoço e na janta chocolate roll</p>

            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            <p><a href="#section-menu" class="smoothscroll text-danger text-uppercase">Veja nosso cardápio <i class="ion-arrow-down-c"></i></a></p>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="pb_section" id="section-menu">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center">
            <h2 class="mb-4 text-uppercase pb_letter-spacing-2">Cardápio</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">

            <ul class="nav justify-content-center pb_tab_v1">
              <li class="nav-item">
                <a class="nav-link active p-3" data-toggle="list" href="#focacce" role="tab">Focacce</a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-3" data-toggle="list" href="#pane" role="tab">Pane</a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-3" data-toggle="list" href="#altri" role="tab">Altri</a>
              </li>
               <li class="nav-item">
                <a class="nav-link p-3" data-toggle="list" href="#grissini" role="tab">Grissini</a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-3" data-toggle="list" href="#kits" role="tab">Kits</a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-3" data-toggle="list" href="#dolci" role="tab">Dolci</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane fade show active" id="focacce" role="tabpanel">
                <div class="row">
                  <div class="col-md">
                    <ul class="list-unstyled pb_food-menu">
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Originale</h3>
                            <p class="mb-0">Alecrim, salmarinho, azeite extra virgem</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>15</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Bianca</h3>
                            <p class="mb-0">Azeite extra virgem</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>15</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pomodorini</h3>
                            <p class="mb-0">Tomate cereja, sal marinho, azeite extra virgem</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>20</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Veg</h3>
                            <p class="mb-0">Tomate cereja, abobrinha, sal marinho, azeite extra virgem</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>20</span></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md">
                    <ul class="list-unstyled pb_food-menu">
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Olive</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>20.75</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Melanzane</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>18.00</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Melanzane com parmesão</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>10.25</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Funghi</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>21.95</span></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="pane" role="tabpanel">
                <div class="row">
                  <div class="col-md">
                    <ul class="list-unstyled pb_food-menu">
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão branco, integral ou semi-integral</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>10.95</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão enriquecido</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>12.50</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão da Crônica</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>5.35</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão multigrãos</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>12.50</span></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md">
                    <ul class="list-unstyled pb_food-menu">
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão Sovadinho</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>10.95</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão Autraliano</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>12.50</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão de forma</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>5.35</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão de forma enriquecido</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>12.50</span></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="altri" role="tabpanel">
                <div class="row">
                  <div class="col-md">
                    <ul class="list-unstyled pb_food-menu">
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Originale</h3>
                            <p class="mb-0">Alecrim,salmarinho,azeiteextravirgem</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>13.95</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Garden Salad</h3>
                            <p class="mb-0">Mixed greens, tomato, cucumber &amp; black olives</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>15.50</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Baby Greens</h3>
                            <p class="mb-0">Mixed greens, fresh mozzarella, tomato &ampl toasted peppers</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>17.35</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Cold Antipasto</h3>
                            <p class="mb-0">Romaine lettuce, croutons, and grated cheese</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>11.50</span></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md">
                    <ul class="list-unstyled pb_food-menu">
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Caesars Salad</h3>
                            <p class="mb-0">Romaine lettuce, croutons, and grated cheese</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>22.95</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Garden Salad</h3>
                            <p class="mb-0">Mixed greens, tomato, cucumber &amp; black olives</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>11.50</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Baby Greens</h3>
                            <p class="mb-0">Mixed greens, fresh mozzarella, tomato &ampl toasted peppers</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>14.35</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Cold Antipasto</h3>
                            <p class="mb-0">Romaine lettuce, croutons, and grated cheese</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>15.50</span></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="grissini" role="tabpanel">
                <div class="row">
                  <div class="col-md">
                    <ul class="list-unstyled pb_food-menu">
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão branco, integral ou semi-integral</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>10.95</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão enriquecido</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>12.50</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão da Crônica</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>5.35</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão multigrãos</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>12.50</span></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md">
                    <ul class="list-unstyled pb_food-menu">
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão Sovadinho</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>10.95</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão Autraliano</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>12.50</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão de forma</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>5.35</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão de forma enriquecido</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>12.50</span></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="kits" role="tabpanel">
                <div class="row">
                  <div class="col-md">
                    <ul class="list-unstyled pb_food-menu">
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão branco, integral ou semi-integral</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>10.95</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão enriquecido</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>12.50</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão da Crônica</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>5.35</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão multigrãos</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>12.50</span></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md">
                    <ul class="list-unstyled pb_food-menu">
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão Sovadinho</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>10.95</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão Autraliano</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>12.50</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão de forma</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>5.35</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão de forma enriquecido</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>12.50</span></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="dolci" role="tabpanel">
                <div class="row">
                  <div class="col-md">
                    <ul class="list-unstyled pb_food-menu">
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão branco, integral ou semi-integral</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>10.95</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão enriquecido</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>12.50</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão da Crônica</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>5.35</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão multigrãos</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>12.50</span></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md">
                    <ul class="list-unstyled pb_food-menu">
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão Sovadinho</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>10.95</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão Autraliano</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>12.50</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão de forma</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>5.35</span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-lg-10">
                            <h3 class="pb_font-18 font-weight-bold">Pão de forma enriquecido</h3>
                            <p class="mb-0">Far far away, behind the word mountains..</p>
                          </div>
                          <div class="col-lg-2"><span class="price"><sup>R$</sup>12.50</span></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="pb_md_py_cover text-center cover-bg-black cover-bg-opacity-4" style="background-image: url({% static 'website/images/restaurant/1900x1200/temperos2.jpg' %})" id="section-home">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-9  order-md-1">
            <h2 class="heading mb-3">Preparado com os melhores ingredientes</h2>
            <p class="sub-heading">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>  
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="pb_section" id="section-gallery">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center">
            <h2 class="mb-4 text-uppercase pb_letter-spacing-2">Fotos</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card-columns">
              <div class="card border-0 mb-4">
                <a href="{% static 'website/images/restaurant/800x975/foto1.jpg' %}" class="pb_hover-zoom image-popup">
                  <img class="img-fluid" src="{% static 'website/images/restaurant/800x975/foto1.jpg' %}" alt="Image caption here">
                  <i class="ion-ios-search-strong icon"></i>
                </a>
              </div>
              <div class="card border-0 mb-4">
                <a href="{% static 'website/images/restaurant/800x975/foto2.jpg' %}" class="pb_hover-zoom image-popup">
                  <img class="img-fluid" src="{% static 'website/images/restaurant/800x975/foto2.jpg' %}" alt="Image caption here">
                  <i class="ion-ios-search-strong icon"></i>
                </a>
              </div>
              <div class="card border-0 mb-4">
                <a href="{% static 'website/images/restaurant/800x975/foto3.jpg' %}" class="pb_hover-zoom image-popup">
                  <img class="img-fluid" src="{% static 'website/images/restaurant/800x975/foto3.jpg' %}" alt="Image caption here">
                  <i class="ion-ios-search-strong icon"></i>
                </a>
              </div>
              <div class="card border-0 mb-4">
                <a href="{% static 'website/images/restaurant/800x975/foto4.jpg' %}" class="pb_hover-zoom image-popup">
                  <img class="img-fluid" src="{% static 'website/images/restaurant/800x975/foto4.jpg' %}" alt="Image caption here">
                  <i class="ion-ios-search-strong icon"></i>
                </a>
              </div>
              <div class="card border-0 mb-4">
                <a href="{% static 'website/images/restaurant/800x975/foto6.jpg' %}" class="pb_hover-zoom image-popup">
                  <img class="img-fluid" src="{% static 'website/images/restaurant/800x975/foto6.jpg' %}" alt="Image caption here">
                  <i class="ion-ios-search-strong icon"></i>
                </a>
              </div>
              <div class="card border-0 mb-4">
                <a href="{% static 'website/images/restaurant/800x975/foto5.jpg' %}" class="pb_hover-zoom image-popup">
                  <img class="img-fluid" src="{% static 'website/images/restaurant/800x975/foto5.jpg' %}" alt="Image caption here">
                  <i class="ion-ios-search-strong icon"></i>
                </a>
              </div>
              <div class="card border-0 mb-4">
                <a href="{% static 'website/images/restaurant/800x975/foto7.jpg' %}" class="pb_hover-zoom image-popup">
                  <img class="img-fluid" src="{% static 'website/images/restaurant/800x975/foto7.jpg' %}" alt="Image caption here">
                  <i class="ion-ios-search-strong icon"></i>
                </a>
              </div>
              
              <div class="card border-0 mb-4">
                <a href="{% static 'website/images/restaurant/800x975/foto8.jpg' %}" class="pb_hover-zoom image-popup">
                  <img class="img-fluid" src="{% static 'website/images/restaurant/800x975/foto8.jpg' %}" alt="Image caption here">
                  <i class="ion-ios-search-strong icon"></i>
                </a>
              </div>
              <div class="card border-0 mb-4">
                <a href="{% static 'website/images/restaurant/800x975/foto9.jpg' %}" class="pb_hover-zoom image-popup">
                  <img class="img-fluid" src="{% static 'website/images/restaurant/800x975/foto9.jpg' %}" alt="Image caption here">
                  <i class="ion-ios-search-strong icon"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
    <section class="pb_section cover-bg-cyan cover-bg-opacity-3">
      <div class="container">
         <div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center">
            <h2 class="mb-4 text-uppercase pb_letter-spacing-2">Depoimentos</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="media d-block text-center testimonial_v1 pb_quote_v1">
              <div class="media-body">
                <div class="quote pb_text-black">&ldquo;</div>
                <blockquote class="mb-5 pb_font-20">Quanto amor em forma de delícias! Eu amei muito os carinhos nos detalhes e as comidas saborosas! Merci por proporcionar um momento delicioso</blockquote>
                <img class="d-flex text-center mx-auto mb-3 rounded-circle" src="{% static 'website/images/persons/person_1.jpg' %}" alt="Generic placeholder image">
                <h3 class="heading">Garry Alexander</h3>
                <p class="subheading">@garry</p>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="media d-block text-center testimonial_v1 pb_quote_v1">
              <div class="media-body">
                <div class="quote pb_text-black">&ldquo;</div>
                <blockquote class="mb-5 pb_font-20">A massa da pizza está DIVINA!!! Amei!! parabéns!! Eu já era fã, agora então mais ainda!!</blockquote>
                <img class="d-flex text-center mx-auto mb-3 rounded-circle" src="{% static 'website/images/persons/person_5.jpg' %}" alt="Generic placeholder image">
                <h3 class="heading">Deborah Smith</h3>
                <p class="subheading">@deborah</p>
                
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="media d-block text-center testimonial_v1 pb_quote_v1">
              
              <div class="media-body">
                <div class="quote pb_text-black">&ldquo;</div>
                <blockquote class="mb-5 pb_font-20">Tudo que a Eliza faz eh gostosa, e muito bem feito, os pães são maravilhosos! Já sou fregesa!</blockquote>
                <img class="d-flex text-center mx-auto mb-3 rounded-circle" src="{% static 'website/images/persons/person_2.jpg' %}" alt="Generic placeholder image">
                <h3 class="heading">James Robertson</h3>
                <p class="subheading">@james</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
    <section class="pb_section pt-0 pb-0" id="section-contact">
      <div class="d-flex">
        <div class="pb_half py-5">
          <div class="row justify-content-center mb-5">
            <div class="col-md-10 text-center">
              <h2 class="mb-4 text-uppercase pb_letter-spacing-2">Write us</h2>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-md-7">
              <form action="#">
                <div class="row">
                  <div class="col-md">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control p-3 rounded-0" id="name">
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" class="form-control p-3 rounded-0" id="email">
                    </div>
                  </div>
                </div>
                
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea cols="30" rows="10" class="form-control  p-3 rounded-0" id="message"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn pb_outline-dark pb_font-13 pb_letter-spacing-2  p-3 rounded-0" value="Send Message">
                </div>
              </form>
            </div>
          </div>
        </div>
        
        <iframe src="https://maps.google.com/maps?q=rua%20desembargador%20arno%20hoeschl%20174&t=&z=13&ie=UTF8&iwloc=&output=embed"
            allowfullscreen class="pb_half"></iframe>
       
      </div>
      
    </section>
    <!-- END section -->

    <footer class="pb_footer bg-light" role="contentinfo">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="https://www.instagram.com/amore_gastronomia/" class="p-2" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <p>&copy; 2021 <a href="https://github.com/theorivero" target="_blank">Instant</a>. All Rights Reserved. Designed by <a href="https://github.com/theorivero" target="_blank">Théo Rivero</a></p>
          </div>
        </div>
      </div>
    </footer>

    <!-- loader -->
    <div id="pb_loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#FDA04F"/></svg></div>
    
{% static 'website/js/main.js' %}
    <script src="{% static 'website/js/jquery.min.js' %}"></script>
    
    <script src="{% static 'website/js/popper.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'website/js/slick.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.mb.YTPlayer.min.js' %}"></script>

    <script src="{% static 'website/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.easing.1.3.js' %}"></script>
    
    <script src="{% static 'website/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'website/js/magnific-popup-options.js' %}"></script>
  

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="{% static 'website/js/google-map.js' %}"></script>

    <script src="{% static 'website/js/main.js' %}"></script>
    
  </body>
</html>